/* As of MW 1.39+ this isn't defined anywhere in core anymore... */
.noprint {
	display: none;
}

/* Hide the "Jump to" accessibility links, not very useful on printed pages! */
.mw-jump-link {
	display: none;
}

/* Hide the main navigation column as well */
#column-one {
	display: none;
}
